<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View all Posts using AJAX</title>
    <div th:replace="partials/head :: head"/>
</head>
<body>
<table id="posts">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Post Content</th>
        <th>User ID</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<div th:replace="partials/scripts :: scripts"/>
<!-- include the JS file with the AJAX request -->
<script type="text/javascript">
    (function($) {
        var request = $.ajax({'url': '/posts.json'});
        request.done(function (posts) {
            var html = '';
            posts.forEach(function(post) {
                html += '<tr>';
                html += '<td>' + post.id + '</td>';
                html += '<td>' + post.title + '</td>';
                html += '<td>' + post.body + '</td>';
                html += '<td>' + post.user.email + '</td>'
                html += '</tr>';
            });
            $('#posts tbody').html(html);
        });


        $('#posts').DataTable({
            ajax: {
                url: '/posts.json'
            },
            processing: true,
            serverSide: true
        });
    })(jQuery);
</script>
</body>
</html>