<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Posts</title>
    <links th:replace="partials/head :: head"></links>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div th:replace="partials/header :: header"></div>

<div class="container">
    <form action="/posts/create" method="post">
        <label for="title">Enter Post Title: </label>
        <br>
        <input type="text" id="title" name="title"/>
        <br>
        <label for="body">Enter your Post: </label>
        <br>
        <textarea name="body" id="body" cols="72" rows="4"></textarea>
        <br>
        <button type="submit">Create</button>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>