<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="partials/head :: head"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div th:replace="partials/header :: header"></div>

<div class="container">
    <form th:action="@{'/posts/update'}" method="post">
        <label for="title"> Title: </label>
        <br>
        <input type="text" name="title" id="title" th:field="${post.title}"/>
        <br>
        <label for="body"> Description: </label>
        <br>
        <textarea name="body" id="body" col="72" rows="4" th:field="${post.body}"></textarea>
        <br>
        <button type="submit" name="id" th:value="${post.id}">Done!</button>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>